# Setting this, so the repo does not need to be given on the commandline:
export BORG_REPO=/home/markus/borg

# Setting this, so you won't be asked for your repository passphrase:
export BORG_PASSPHRASE='hallo'
