[paths]
/ = /hg/tutor/**

[web]
# Aussehen der Repository Seite
# Moeglichhe Stile: coal, gitweb, monoblue, paper und spartan
#style = monoblue 
# Archive die zum Download angeboten werden: gz, bz2, zip
allow_archive =
# Farbschema der Syntaxhervorhebung
# Moegliche Schemas: pygmentize -L style
pygments_style = tango
allow_push = # nobody
contact = Markus Kaiser <tutor@zfix.org>
descend = True
collapse = True

[extensions]
# Syntaxhervorhebung
# Erfordert die Installation von Pygments
hgext.highlight = 
